.body{
    position: fixed;
    width: 100%;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    size: auto;
    margin-left: 10px;
    margin-right: 15px;
}

.ueberschriftRot {
    color: #e2001a;
}

.ueberschriftGrau {
    color: #5b6a72;
}

.panel{
    height: 100%;
    position: fixed;
}

.icon {
    margin: 5px;
}

.eingabe{
    background-color: rgb(197, 233, 219);
 }

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    h1{
        font-size: 1em;
    } 
    
    .button_route{
        font-size: 50%;
    }
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .eingabe{
        height: 10%;
        margin-right: 8px;
     }
  }

@media only screen and (min-width: 769px) {
    /* For desktop view: */
    .eingabe{
        width: 50%;
        height: 10%;
     }
  }
