h1{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.logo{
    margin-left: 10px;
    margin-right: 15px;
}

.ueberschriftRot {
    
    color: #e2001a;
}

.ueberschriftGrau {
    color: #5b6a72;
}

.panel{
    height: 100%;
    position: fixed;
}

.eingabe{
   width: 50%;
   height: 10%;
   background-color: rgb(197, 233, 219);
}
#container{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
}
.map{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;  /* for demo purpose  */
}
